RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

<IfModule mod_headers.c>
  Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains"
</IfModule>

RewriteRule ^pimpwyld\.wasm$ game.dat [L]
<Files "engine.dat">
  ForceType application/javascript
  Header set Content-Encoding gzip
  Header set Cache-Control "no-cache, must-revalidate"
</Files>
<Files "engine.b64">
  ForceType text/plain
  Header set Cache-Control "no-cache, must-revalidate"
</Files>
<Files "e02.dat">
  ForceType application/javascript
  Header set Content-Encoding gzip
  Header set Cache-Control "no-cache, must-revalidate"
</Files>
<Files "game.dat">
  ForceType application/wasm
  Header set Cache-Control "no-cache, must-revalidate"
</Files>
